@import "tailwindcss";

/* npx @tailwindcss/cli -i ./src/style/master.css -o ./src/style/output.css --watch */
.heroBg {
    background-image: url(../assets/img/hero.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.largeMenuBg {
    background: #212121;
    background: linear-gradient(180deg, rgba(33, 33, 33, 1) 10%, rgba(43, 43, 43, 0) 100%);
}

.myFont {
    font-family: "Baloo Bhaijaan 2", sans-serif;
}

.page5Bg {
    background-image: url(../assets/img/espinas_spa_bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.wellBg{
    background-color:rgba(104, 103, 103, 0.43) ;
}