
.icon-phone:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
